.OptionalAddons {
    display: grid;
    padding: 100px 0px;
}

.OptionalAddonsIntro {
    display: grid;
    justify-self: center;
}

.OptionalAddonsIntro h3 {
    font-size: 40px;
    margin: 0;
    color: #2F338D;
}

.OptionalAddonsIntro h3 span{
    color: #00B0EA;
}


.OptionalAddonsBox {
    width: 90%;
    justify-self: center;
}

.OptionalAddonsBox p {
    font-size: 15px;
}



.addons{
    display: grid;
    grid-template-columns: 1fr  1fr;

}

.addon{
    width: 100%;
    margin: 10px 0px;
}





.suitablePlan{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}



.suitablePlan h3 {
    font-size: 40px;
    margin: 0;
    color: #2F338D;
}

.suitablePlan h3 span{
    color: #00B0EA;
}


.suitablePlan .suitablePlanLink button {
    padding: 10px 22px;
    border-radius: 20px;
    color: white;
    background-image:  linear-gradient(to left, #00B0EA, #2F338D);
    border: none;
    outline: none;
    font-size: 12px;
    cursor: pointer;
}

.suitablePlan .suitablePlanLink button:hover {
    box-shadow: inset 200px 0 0 0 #2F338D;
    transition: ease-in 0.5s;
}











@media screen and (max-width:768px) {

    .OptionalAddonsBox {
        width: 85%;
        justify-self: center;
    }

    .OptionalAddonsIntro h3{
        font-size: 30px;
    }

    .addons{
        grid-template-columns: 1fr;
    }
    .suitablePlan {
        width: 90%;
    }

    .suitablePlan h3 {
        font-size: 30px;
    }
    
}


@media screen and (max-width:539px) {
    .OptionalAddonsIntro h3 {
        font-size: 26px;
    }

    .suitablePlan h3 {
        font-size: 26px;
    }
}