@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.Section9 {
    display: grid;
    align-items: center;
    margin-top: 80px;
    overflow: hidden;
}


.Section9Inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
     overflow: hidden;
}

.Section9Box {
    width: 80%;
    justify-self: center;
    
}

.Section9Box img {
    width: 100%;
    /* -webkit-box-shadow: 10px 10px 5px -3px rgba(143,140,143,1);
    -moz-box-shadow: 10px 10px 5px -3px rgba(143,140,143,1);
    box-shadow: 10px 10px 5px -3px rgba(143,140,143,1); */
    border-radius: 10px;

}

.Section9Box h3 {
    font-size: 35px;
    color: #2F338D;
    margin: 0;
}

.Section9Box h3 span {
    color: #00B0EA;
}

.Section9Box p {
    font-size: 15px;
}

.Section9Box p span {
    color: #00B0EA;
}











/* media queries */


@media screen and (max-width:768px) {
    .Section9 {
        margin-top: 50px;
    }
    
    
    .Section9Inner {
        grid-template-columns: 1fr;
    }

    .Section9Box {
        margin: 10px 0px;
        width: 85%;
    }

    .Section9Box h3 {
        font-size: 30px;
    }
}


@media screen and (max-width:539px) {

    .Section9Box h3{
        font-size: 26px;
    }
}

