@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap');

.Section2 {
    display: grid;
    align-items: center;
    margin-top: 80px;
overflow: hidden;
}


.Section2Inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.Section2Box {
    width: 80%;
    justify-self: center;
}

.Section2Box img {
    width: 100%;
 
    border-radius: 10px;
    border: #00b0ea2c 1px solid;

}

.Section2Box h3 {
    font-size: 35px;
    color: #2F338D;
    margin: 0;
}

.Section2Box h3 span {
    color: #00B0EA;
}



.Section2Box p {
    font-size: 15px;
}


.Section2Box p span {
    color: #00B0EA;
}









/* media queries */


@media screen and (max-width:768px) {

    .Section2 {
        margin-top: 50px;
    }

    .Section2Inner {
        grid-template-columns: 1fr;
    }

    .Section2Box {
        margin:10px 0px;
        width: 85%;
    }

    .Section2Box#image {
        grid-row: 2;
    }


    .Section2Box h3 {
        font-size: 30px;
    }
}


@media screen and (max-width:539px) {

    .Section2Box h3 {
        font-size: 26px;
    }
}